.owl-carousel {
    /* display: none; */
    width: 100%;
    z-index: 1;
}


.animationStyle{
    font-size: 3vw !important;
    color: #fff !important;
    line-height: 1.3 !important;
    font-weight: 400 !important;
    font-family: "Amatic SC", cursive !important;
}
  
  .carousel-item {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  .heart {
    color: black;
    transition: color 0.3s ease-in-out;
  }
  
  .heart.red {
    color: red;
  }
  

.subheading {
    color: #000000;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
}

.heart {
  position: relative;
}

.heart i {
  transition: transform 0.5s ease-in-out;
}

.heart.red i {
  transform: translateY(-100%);
}
.heart.red i {
  color: red;
}
